<h1>Angular Calculator</h1>
<h3>Using Reverse Polish Notation!</h3>

<footer>By Antonio Rios.</footer>

<div class="root-container">
  <div class="equation-container">
    <input disabled readonly [value]="CurrentEquation" />
    <span>=</span>
    <input disabled readonly [value]="CurrentCalculation" />
  </div>

  <div class="grid-container">
    <button *ngFor="let item of data" (click)="GetNumber(item)">
      {{item}}
    </button>

    <button style="grid-column: 2/3;width:10rem" (click)="Calculate()">=</button>
  </div>
</div>

<!--<h1 id="tableLabel">Weather forecast</h1>

<p>This component demonstrates fetching data from the server.</p>

<div *ngIf="calculatorNumber">Given Value: {{calculatorNumber.value}}</div>

<div *ngIf="!calculatorNumber">Given Value is still loading. Reload!</div>

<p *ngIf="!forecasts"><em>Loading... Please refresh once the ASP.NET backend has started. See <a href="https://aka.ms/jspsintegrationangular">https://aka.ms/jspsintegrationangular</a> for more details.</em></p>

<table *ngIf="forecasts">
    <thead>
        <tr>
            <th>Date</th>
            <th>Temp. (C)</th>
            <th>Temp. (F)</th>
            <th>Summary</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let forecast of forecasts">
            <td>{{ forecast.date }}</td>
            <td>{{ forecast.temperatureC }}</td>
            <td>{{ forecast.temperatureF }}</td>
            <td>{{ forecast.summary }}</td>
        </tr>
    </tbody>
</table>-->
